<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>P2Poll Client</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/DataTables/css/datatables.min.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">P2Poll Client</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Voter Registration
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cast/vote">Cast Vote</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/view/votes">View Votes
                <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <!-- Blockchain Node URL Selector -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">

          <div class="card-body">
            <h4 class="card-title">View Votes</h4>
            <p class="card-text">Enter a blockchain node URL and click on "View Votes" button to check all votes</p>
          </div>

        </div>
      </div>
    </div>

    <div class="container alert alert-secondary">

        <div class="row">
          <label class="col-sm-2">Node IP Addresses:</label>
          <div class="col-sm-10">
            <input type="text" id="node_url" class="form-control" value="http://127.0.0.1:5000">
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-lg-12 text-center">
            <input type="button" id="view_votes" class="btn btn-primary btn-lg" value="View Votes">
          </div>
        </div>

    </div>

    <br>
    <!-- Blockchain Votes Table -->
    <div class="container">
      <table id="votes_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
      </table>
    </div>
    <br> 

    <!-- Blockchain Mining Table -->
    <div class="container">
      <table id="mining_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
      </table>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/static/vendor/DataTables/js/datatables.min.js"></script>
    <script src="/static/vendor/DataTables/js/ellipsis.js"></script>


    <script>

      $(function(){

        
        $('#view_votes').click(function(){

          $.ajax({
            url: document.getElementById("node_url").value + "/chain",
            type: 'GET',
            success: function(response){

              console.log(response);
              //Generate Transactions Table
              var votes = [];
              var mines = [];
              count = 1;

              for (i = 1; i < response.length; i++) { 
                for (j = 0; j < response["chain"][i]["votes"].length; j++) {

                  //format date 
                  var options = {  year: "numeric", month: "short",  day: "numeric", hour: "2-digit", minute: "2-digit", second: "2-digit"  };
                  var date = new Date(response["chain"][i]["timestamp"] * 1000);
                  var formattedDateTime = date.toLocaleTimeString("en-us", options);

                  vote = [count,
                                response["chain"][i]["votes"][j]["voter_id"],
                                response["chain"][i]["votes"][j]["poll_id"],
                                response["chain"][i]["votes"][j]["value"],
                                formattedDateTime,
                                response["chain"][i]["block_number"]];
                  if (vote[1] !== "THE BLOCKCHAIN") {
                    votes.push(vote);
                  } else {
                    mines.push(vote);
                  }
                  count += 1;
                };
              };
              // print out results of poll 
              pollnumber = 14; //change poll number
              var voterDict = {}
              var tally = {}
              var rvotes = votes.reverse();
              for (var k=0; k < votes.length; k++){
                if ((Object.keys(voterDict).includes("" + rvotes[k][1])) && rvotes[k][2] == pollnumber){
                  continue;
                }
                else{     
                  voterDict[rvotes[k][1]] = rvotes[k][3] 

                  if ((Object.keys(tally).includes(rvotes[k][3]))&& rvotes[k][2] == pollnumber) {
                    
                    tally[rvotes[k][3]] = tally[rvotes[k][3]] + 1;
                  }
                  else{
                    tally[rvotes[k][3]] = 1;
                  } 
                    // console.log(rvotes[k]);
                  }
              }



              // 2D array votes [index,voterid,pollid,value,date,blocknumber]
              var rvotes = votes.reverse();
              for (var k=0; k < votes.length(); k++ ){
                contole.log(rvotes[k]);
              }



              // Restrict a column to 10 characters, do split words
                $('#votes_table').dataTable( {
                  data: votes,
                  columns: [{ title: "#" },
                            { title: "Voter ID"},
                            { title: "Poll ID"},
                            { title: "Choice"},
                            { title: "Timestamp"},
                            { title: "Block"}],
                  columnDefs: [ {targets: [1,2,3,4,5], render: $.fn.dataTable.render.ellipsis( 25 )}]
                } );
                /*
                $('#mining_table').dataTable( {
                  data: mines,
                  columns: [{ title: "#" },
                            { title: "Issued By"},
                            { title: "Miner"},
                            { title: "Credits"},
                            { title: "Timestamp"},
                            { title: "Block"}],
                  columnDefs: [ {targets: [1,2,3,4,5], render: $.fn.dataTable.render.ellipsis( 25 )}]
                } );
              */
            },
            error: function(error){
              console.log(error);
            }
          });
        });


      })




    </script>



  </body>

</html>
